<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <!-- popping an empty string to prevent Firefox from loading the html before it loaded all the head scripts -->
  <script>0</script>
  <%- include('../partials/sidenav.ejs') %> 
  <%- include('../partials/errorMessage.ejs') %>
  <!-- create a main container with flex column display -->
  <div class="main-container">
  <%- body %>
  <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>