<section style="margin: 0 50px;">
  <h3>Example <code>GET</code> usage</h3>
  <code>projects/qa/issue-tracker/api/issues/{project}</code><br>
  <code>projects/qa/issue-tracker/api/issues/{project}?open=true&amp;assigned_to=Joe</code><br>
  <h3>Example return</h3>
  <pre>"[<%- include('./partials/displayIssues') %>
  ]</pre>
</section>
<%- include('./partials/goToProjectPage') %>
<hr style='margin: 0 50px'>
<section id='testui' style='margin-left: 50px;'>
  <h3>Examples</h3>
  Go to <a href='issue-tracker/api/issues/apitest/'><code>/api/issues/apitest/</code></a>  project
  <h2 style="text-align: left">API Tests</h2>
  <h3>Submit issue on <i>apitest</i></h3>
  <%- include('./partials/submitIssueExample') %> 
  <h3>Update issue on <i>apitest</i> (Change any or all to update issue on the _id supplied)</h3>
  <%- include('./partials/updateIssueExample') %> 
  <h3>Delete issue on <i>apitest</i></h3>
  <%- include('./partials/deleteIssueExample') %> 
  <code id='jsonResult'></code>
</section>
<hr style='margin: 50px; margin-top: 200px'>
<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script>
  // $(function() {
  //   $('#testForm').submit(function(e) {
  //     $.ajax({
  //       url: '/api/issues/apitest',
  //       type: 'post',
  //       data: $('#testForm').serialize(),
  //       success: function(data) {
  //         $('#jsonResult').text(JSON.stringify(data));
  //       }
  //     });
  //     e.preventDefault();
  //   });
  //   $('#testForm2').submit(function(e) {
  //     $.ajax({
  //       url: '/api/issues/apitest',
  //       type: 'put',
  //       data: $('#testForm2').serialize(),
  //       success: function(data) {
  //         $('#jsonResult').text(JSON.stringify(data));
  //       }
  //     });
  //     e.preventDefault();
  //   });
  //   $('#testForm3').submit(function(e) {
  //     $.ajax({
  //       url: '/api/issues/apitest',
  //       type: 'delete',
  //       data: $('#testForm3').serialize(),
  //       success: function(data) {
  //         $('#jsonResult').text(JSON.stringify(data));
  //       }
  //     });
  //     e.preventDefault();
  //   });
  // });
</script>