<section>
  <h3>Example <code>GET</code> usage</h3>
  <code>projects/qa/issue-tracker/api/issues/{project}</code><br>
  <code>projects/qa/issue-tracker/api/issues/{project}?open=true&amp;assigned_to=Joe</code><br>
  <h3>Example return</h3>
  <pre>"[<%- include('./partials/displayIssues') %>
  ]</pre>
</section>
<%- include('./partials/goToProjectPage') %>
<hr>
<section id='testui'>
  <h3>Examples</h3>
  Go to <a href='issue-tracker/api/issues/s/apitest/'><code>/api/issues/apitest/</code></a>  project
  <h2>API Tests</h2>
  <h3>Submit issue on <i>apitest</i></h3>
  <%- include('./partials/submitIssueExample') %> 
  <h3>Update issue on <i>apitest</i> (Change any or all to update issue on the _id supplied)</h3>
  <%- include('./partials/updateIssueExample') %> 
  <h3>Delete issue on <i>apitest</i></h3>
  <%- include('./partials/deleteIssueExample') %> 
  <code id='jsonResult'></code>
</section>
<hr class='bighr'>
<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/js/qa/issue_test_forms.js" type="text/javascript"></script>